# Ignore node_modules
node_modules/
yarn.lock

# Ignore build/coverage output directories if có
dist/
build/
coverage/

# Ignore other environment files if bạn dùng
.env
.env.local
.DS_Store
*.log
*.json
*.json
*.lock

# Alertmanager secrets
monitoring/alertmanager/config.yml
