@import "tailwindcss";

*{
    /*ya scroll*/
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none; /*Chrome, Safari ,..*/
}

/* Notification animations */
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}